{% extends 'default/class.twig' %}


{% block page_content %}
	{% if class.name starts with 'Grav' %}
		{% set github_link = 'https://github.com/getgrav/grav/blob/develop/system/src/' ~ class.name|replace({'\\': '/'}) ~ '.php' %}
	{% else %}
		{% set github_link = 'https://github.com/' ~ class.name|replace({ 'RocketTheme':'rockettheme', 'Toolbox':'toolbox/blob/develop', '\\': '/'}) ~ '.php' %}
		{% set github_link = github_link|replace({(class.shortname) ~ '.php':'src/' ~ (class.shortname) ~ '.php'}) %}
	{% endif %}
	<a class="btn btn-warning pull-right" href="{{ github_link }}">Edit on GitHub</a>
	{{ parent() }}
{% endblock %}
