{% extends 'default/layout/layout.twig' %}

{% block footer %}
    <div id="footer">
        Generated on {{ "now"|date("F jS \\a\\t g:ia") }} by <a href="http://sami.sensiolabs.org/">Sami</a>
    </div>
{% endblock %}
